@import 'normalize.css';
@import 'fonts.css';
body {
  font-family: 'SFProDisplay', sans-serif;
}
#canvas {
  position: absolute;
  left: 0;
  height: 100%;
  top: 0;
}
.btn-hrus {
  background-color: #9EAD66;
  color: #fff;
}
.app {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#out {
  position: absolute;
  left: 500px;
}
.line {
  width: 100%;
  color: #9EAD66;
  height: 3px;
  background-color: #9EAD66;
}
.input__file {
  display: none;
}